<div id="block-1" class="block row jumbotron">
  <div class="col col-md-12">
	
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="files/t-wrtp_demo1.jpg" alt="river image">
      <div class="carousel-caption">
        rolling on the the river
      </div>
    </div>
    thgis is the outer div
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	



  </div>
</div>
<div id="block-2" class="block row">
  <div class="col col-md-4">
    <h2 id="h2-2">Subheading 1</h2>
    <p id="paragraph-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis mollis arcu, eget posuere libero faucibus sit amet. Cras pharetra pellentesque augue, id vestibulum nisi pharetra et. Morbi in dapibus leo. Vivamus vehicula risus vel eros interdum et mattis tortor congue. Sed gravida interdum est, sit amet pretium nisl consectetur at. In hac habitasse platea dictumst. In purus enim, elementum porttitor tincidunt volutpat, fermentum quis ante. Vivamus at est sem, quis ornare lorem. Cras pulvinar est eget nisi iaculis consequat.</p><p id="1345990334">Vestibulum lacinia, sem vitae cursus imperdiet, diam diam aliquet nunc, et hendrerit dui mauris ut lacus. Curabitur eget dolor enim, sit amet hendrerit lacus. Phasellus ornare enim ipsum, eu ullamcorper dolor. Morbi in purus sit amet eros fringilla vestibulum quis in nisi. Vivamus diam metus, viverra vel aliquam id, pretium a urna. Phasellus blandit eleifend ligula, sit amet adipiscing est pretium ut. Curabitur nibh quam, adipiscing nec pretium non, dictum in tellus. Vivamus vel posuere elit.
    </p>
  </div>
  <div class="col col-md-4">
    <h2 id="h2-3">Subheading 2</h2>
    <p id="paragraph-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis mollis arcu, eget posuere libero faucibus sit amet. Cras pharetra pellentesque augue, id vestibulum nisi pharetra et. Morbi in dapibus leo. Vivamus vehicula risus vel eros interdum et mattis tortor congue. Sed gravida interdum est, sit amet pretium nisl consectetur at. In hac habitasse platea dictumst. In purus enim, elementum porttitor tincidunt volutpat, fermentum quis ante. Vivamus at est sem, quis ornare lorem. Cras pulvinar est eget nisi iaculis consequat.</p><p id="1345990334">Vestibulum lacinia, sem vitae cursus imperdiet, diam diam aliquet nunc, et hendrerit dui mauris ut lacus. Curabitur eget dolor enim, sit amet hendrerit lacus. Phasellus ornare enim ipsum, eu ullamcorper dolor. Morbi in purus sit amet eros fringilla vestibulum quis in nisi. Vivamus diam metus, viverra vel aliquam id, pretium a urna. Phasellus blandit eleifend ligula, sit amet adipiscing est pretium ut. Curabitur nibh quam, adipiscing nec pretium non, dictum in tellus. Vivamus vel posuere elit.
    </p>
  </div>
  <div class="col col-md-4">
    <h2 id="h2-4">Subheading 3</h2>
    <p id="paragraph-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis mollis arcu, eget posuere libero faucibus sit amet. Cras pharetra pellentesque augue, id vestibulum nisi pharetra et. Morbi in dapibus leo. Vivamus vehicula risus vel eros interdum et mattis tortor congue. Sed gravida interdum est, sit amet pretium nisl consectetur at. In hac habitasse platea dictumst. In purus enim, elementum porttitor tincidunt volutpat, fermentum quis ante. Vivamus at est sem, quis ornare lorem. Cras pulvinar est eget nisi iaculis consequat.</p><p id="1345990334">Vestibulum lacinia, sem vitae cursus imperdiet, diam diam aliquet nunc, et hendrerit dui mauris ut lacus. Curabitur eget dolor enim, sit amet hendrerit lacus. Phasellus ornare enim ipsum, eu ullamcorper dolor. Morbi in purus sit amet eros fringilla vestibulum quis in nisi. Vivamus diam metus, viverra vel aliquam id, pretium a urna. Phasellus blandit eleifend ligula, sit amet adipiscing est pretium ut. Curabitur nibh quam, adipiscing nec pretium non, dictum in tellus. Vivamus vel posuere elit.
    </p>
  </div>
</div>

