@import url("search.css");
@import url("calendar.css");
@import url("cart.css");
h1,
h2,
h3,
p,
blockquote {
  margin-bottom: 25px;
}
p,
blockquote {
  line-height: 25px;
}
header {
  margin: 10px 10px 25px 10px;
}
.jumbotron {
  margin: 0 0 25px 0;
}
.jumbotron p {
  line-height: 40px;
  color: #777;
}
pre.prettyprint ol.linenums {
  margin-left: 0;
}
footer {
  border-top: 2px solid #f0f0f0;
  margin: 25px 0 0 0;
  padding: 25px 10px 25px 10px;
}
footer div {
  text-align: left;
}
footer p {
  margin-bottom: 5px;
}
footer .menu {
  text-align: center;
}
footer p.social i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 16px;
  margin: 0 10px 0 0;
}
footer .menu {
  margin-top: 20px;
}
footer .menu li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.list-group-item img {
  width: 75px;
}
.list-group-item {
  min-height: 110px;
}
.list-group-item h5 {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
}
.list-group-item h5 i,
.list-loading i,
.featured-loading i {
  color: #ccc;
  margin-right: 5px;
}
.list-loading,
.featured-loading {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
}
body .list-group-item a.thumbnail {
  margin-right: 10px;
}
.thumbnail {
  max-width: 200px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
.thumbnail img {
  width: 100%;
}
.page-results {
  margin-bottom: 10px;
}
div.o-image img {
  margin: 5px 0 20px 0;
  border: 3px solid #f0f0f0;
  max-width: 100%;
}
div.l-image,
div.r-image {
  clear: both;
}
div.l-image img {
  float: left;
  margin: 5px 20px 20px 0;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}
div.r-image img {
  float: right;
  margin: 5px 0 20px 20px;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}
.respond-form .alert,
form .alert {
  display: none;
}
.respond-form i.icon-spinner {
  display: none !important;
}
.respond-form label {
  font-weight: normal;
}
.respond-form .error label {
  font-weight: bold;
  color: #b94a48;
}
.navbar-brand {
  max-height: 50px;
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  max-height: 82px;
  margin: 0;
  padding: 0;
  border-radius: 55px;
}
div.map-container {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  height: 250px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  border-radius: 5px;
}
div.map p span {
  font-size: 1em;
}
.user-selections {
  display: block;
  margin: 0;
  padding: 10px 10px 0 0;
  text-align: right;
}
.user-selections .welcome-message {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
}
.language {
  display: inline-block;
}
.language label {
  color: #888;
  font-weight: normal;
  font-size: 13px;
  margin-right: 5px;
}
.language select {
  display: inline-block;
  width: 75px;
  font-size: 12px;
  height: 25px;
}
@media (min-width: 768px) {
  header .logo {
    margin: 0 auto;
    max-width: 970px;
  }
}
@media (min-width: 992px) {
  header .logo {
    margin: 0 auto;
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  header .logo {
    margin: 0 auto;
    max-width: 1170px;
  }
}
