<!doctype html>

<html lang="{{language}}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{site}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="callout" content="{{callout}}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">  

{{css-bootstrap}}
{{css}}
{{rss}}
    
</head>

<body>
 
<header role="banner">
    
	<nav class="navbar navbar-default" role="navigation">
	  
	  <div class="navbar-header">
        
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
        
        <a class="navbar-brand" href="{{site-url}}"><img src="{{logo}}"></a>
	  </div>
	  <!-- /.navbar-header -->
	
	  
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav navbar-right">
			{{menu-primary}}
          	{{search-menu}}
	    </ul>
        
	  </div>
	  <!-- /.navbar-collapse -->
      
      
	</nav>

</header>

<div id="content" class="container" role="main">
  {{script-slidey}}
  
  <div id="carouselx" class="carousel slide"> 
    <div class="carousel-inner">    
      <div class="item active">      
        <img src="files/river_1_1200x480.jpg" alt="" />      
        <div class="carousel-caption">        
          <p><!-- Caption text here --></p>      
        </div>    
      </div>    
      <div class="item">      
        <img src="files/river_3_1200x480.jpg" alt="" />      
        <div class="carousel-caption">        
          <p><!-- Caption text here --></p>        
        </div>    
      </div>    
      <div class="item"><img src="files/river_2.jpg" alt="" />      
        <div class="carousel-caption">        
          <p><!-- Caption text here --></p>       
        </div>    
      </div>  
      <div class="item"><img src="files/river_4_1200x480.jpg" alt="" />      
        <div class="carousel-caption">        
          <p><!-- Caption text here --></p>       
        </div>    
      </div>
      <div class="item">
        <img src="files/river_5.jpg" alt="" />
      </div>
        <div class="item">
        <img src="files/river_6.jpg" alt="" />
      </div>
       <div class="item">
        <img src="files/river_7.jpg" alt="" />
      </div>
    </div><!-- /.carousel-inner -->  <!--  Next and Previous controls below        href values must reference the id for this carousel -->    
    <a class="carousel-control left" href="#carouselx" data-slide="prev">‹</a>    
    <a class="carousel-control right" href="#carouselx" data-slide="next">›</a>
  </div><!-- /.carousel -->
  {{content}}
</div>
{{script-facebookfeed}}
<footer role="contentinfo">
  
  <div class="container">

		<div class="row">
		
          <div class="col-md-4">
           <a href="{{root}}page/501c3">{{t}}501-(c)(3) info{{/t}}</a>
            
            <!--<h4>{{t}}Contact{{/t}}</h4>
            
            <p>
             {{t}}Drop us a line via the:{{/t}} <a href="{{root}}page/contact">{{t}}Contact Form{{/t}}</a>
            </p>-->
            
          </div>
          <!-- /.col-md-4 -->
          
          <div class="col-md-6">
            
            <!--<h4>{{t}}About{{/t}}</h4>-->
             <p class="social">
              <a href="https://www.facebook.com/groups/Wisconsinrivertrailproject/"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/WisRiverTrail"><i class="fa fa-twitter"></i></a>
            </p>
            <p>
              {{site}}{{t}} site {{/t}} <br/> by <a href="http://atoms.net"> atoms.net</a>. 
               Copyright © <!--2014–--><script type="text/javascript">
                                        var theDate = new Date(); document.write(theDate.getFullYear())
              </script> 
            </p>
            
          </div>
			<!-- /.col-md-4 -->
			
		</div>
		<!-- /.row -->
    
    	<div class="row">
        
          <div class="col-md-12 menu">
              
              <ul>
              	<!--<li>{{t}}Menu:{{/t}}</li>-->
                <!--{{menu-primary}}-->
              </ul>
              
          </div>
          <!-- /.col-md-12 -->
          
    	</div>
		
  	</div>
  	<!-- /.container -->
  
</footer>
  
{{js}}
{{analytics}}

</body>

</html>